.pagi {		
	text-align: center;
}
.footer {
	background-color: white;
	height: 50px;
	border-top: 1px solid #d3e0e9;
}
.ico {
	width: 30px;
	height: 30px;
}
.comment {
	width: 25px;
	height: 25px;
}
.image-info {
	display: inline;
	padding-left:10px;

}
.image-info span {
	font-size: 12px;
	margin-left: 10px;
}
.show-image{
	text-align: center;
}
.single-image{
	width: 50%;
}
#app{
	min-height: 1000px;
}